@import "../fonts/museo/style.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}


.container{
  max-width: 1185px;
  margin: 0 auto;
  padding: 0 20px;
}



@mixin text ($ff, $fz, $lh, $c) {
  font-family: $ff;
  font-size: $fz;
  line-height: $lh;
  color: $c;
}


$museo700 : 'Museo Sans Rounded 700' , sanserif;
$museo300 : 'Museo Sans Cyrl 300';

@import "btn";
@import "slide";
@import "header";
@import "begin";
@import "overlay";
@import "map";